<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lançamento</title>
    <link rel="icon" type="image" href="#">

    <link rel="stylesheet" href="/stylesheets/base/padrao.css">
    <link rel="stylesheet" href="/stylesheets/lancamento.css">

   
</head>
<body>
    <header class="cabecalho container">
        <div class="cabecalho__titulo">
            <h1 class="cabecalho__tituloGuia">Lançamentos</h1>
        </div>
        <nav class="cabecalho__navegadores">
            <ul class="cabecalho__listaNavegadores">
                <li class="cabecalho__itemNavegador"><a class="cabecalho__ancora" href="/">Home</a></li>
                <li class="cabecalho__itemNavegador"><a class="cabecalho__ancora" href="/lancamento">Lançamentos</a></li>
                <li class="cabecalho__itemNavegador"><a class="cabecalho__ancora" href="/index.ejs">Relatório Mensal</a></li>
                <li class="cabecalho__itemNavegador"><a class="cabecalho__ancora" href="/index.ejs">Acumulado do Ano</a></li>
            </ul>
        </nav>
    </header> 
    <main class="conteudoPrincipal container">
        <table class="tabelaLancamentos">
            <thead class="tabelaLacamentos__cabecalho">
                <tr class="tabelaLancamento__linha">
                    <th class="tabelaLancamento__celulaCabecalho">Id</th>
                    <th class="tabelaLancamento__celulaCabecalho">Data</th>
                    <th class="tabelaLancamento__celulaCabecalho">Descrição</th>
                    <th class="tabelaLancamento__celulaCabecalho">Classificação</th>
                    <th class="tabelaLancamento__celulaCabecalho">Tipo</th>
                    <th class="tabelaLancamento__celulaCabecalho">Valor</th>
                    <th class="tabelaLancamento__celulaCabecalho">Forma de Pagamento</th>
                    <th class="tabelaLancamento__celulaCabecalho">Número de Parcelas</th>
                    <th class="tabelaLancamento__celulaCabecalho">Observações</th>
                    <th class="tabelaLancamento__celulaCabecalho">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% if(!rows || rows.length == 0){ %>
                    <tr>
                        <td class="tabelaLancamentos__celula" colspan="10">Nenhum lançamento cadastrado</td>
                    </tr>
                <% } else { 
                    rows.forEach(transacao => { %>
                    <tr>
                        <td class="tabelaLancamentos__celula"><%= transacao.id %></td>
                        <td class="tabelaLancamentos__celula"><%= transacao.dataEvento %></td>
                        <td class="tabelaLancamentos__celula"><%= transacao.descricao %></td>
                        <td class="tabelaLancamentos__celula"><%= transacao.classificacao %></td>
                        <td class="tabelaLancamentos__celula"><%= transacao.tipo %></td>
                        <td class="tabelaLancamentos__celula"><%= transacao.valor %></td>
                        <td class="tabelaLancamentos__celula"><%= transacao.formaDePagamento %></td>
                        <td class="tabelaLancamentos__celula"><%= transacao.numeroDeParcelas %></td>
                        <td class="tabelaLancamentos__celula"><%= transacao.observacao %></td>
                        <td class="tabelaLancamentos__celula">
                            <a href="#">editar</a> 
                            <a href="#">excluir</a>
                        </td>
                    </tr>
                <% })} %>
                
            </tbody>
        </table>
    </main>  
</body>
</html>